*{
    margin: 0;
    padding: 0;

}

body
{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

header
{
    background-color: #333;
    color: white;
    padding: 20px;
}

nav{

    background-color: #ff8500;
    color: white;
    padding: 10px;

}

nav ul
{
    list-style-type: none;
    
}

nav ul li{
    display: inline;
    margin-right: 20PX;
}
nav ul li a 
{
    color: white;
    text-decoration: none;
}

nav ul li a:hover
{
    color: #f8e1cc  ;
}

footer
{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p a {

    color:#f7df04   ;
    text-decoration: none;
    
}

footer p a:hover {
    color: #f5251a;
}
