body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    text-align: center;

}

header {
    background-image: url("images/layout.jpg");
    color: white;
    background-size: cover;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;


}

header p {

    font-size: 1.2rem;
    margin-bottom: 30px;

}

button {

    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;


}

button:hover {
    background-color: #3676ba;
}


.features {
    margin-top: 40px;
    text-align: center;

}

.feature {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border: solid 1px;
    border-radius: 5px;
    display: inline-block;
    flex-wrap: wrap;
    box-shadow: 0 2px 6px rgb(53, 52, 52);

}

.feature:hover {

    box-shadow: 0 2px 6px rgb(148, 145, 145);

}


footer {
    background-color: #333;
    color: white;
    margin-top: 50px;
    padding: 20px;

}